<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<import resource="classpath*:core-context.xml"/>

	<bean id="DataDAO" parent="DataMemoryDAO"></bean>

	<bean id="DataMemoryDAO" class="com.xylugah.springcore.dao.memory.ClientMemoryDAO"
		scope="singleton" lazy-init="true">
		<property name="entityList">
			<list>
				<bean class="com.xylugah.springcore.entity.Client">
		    		<property name="ip" value="127.0.0.1" />
					<property name="port" value="1238" />
				</bean>
				<bean class="com.xylugah.springcore.entity.Client">
		    		<property name="ip" value="192.168.1.2" />
					<property name="port" value="12381" />
				</bean>
				<bean class="com.xylugah.springcore.entity.Client">
		    		<property name="ip" value="192.168.1.3" />
					<property name="port" value="12381" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="DataMongoDBDAO" class="com.xylugah.springcore.dao.mongo.ClientMongoDBDAO"
		scope="singleton" lazy-init="true">
	</bean>

</beans>
