<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<import resource="classpath*:core-context.xml"/>
<!--
	<bean id="DataDAO" class="com.xylugah.springcore.dao.DataMemoryDAO"
		scope="singleton" lazy-init="true">
		<property name="clientList">
			<list>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="127.0.0.1" />
					<property name="port" value="1238" />
				</bean>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="192.168.1.2" />
					<property name="port" value="12381" />
				</bean>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="192.168.1.3" />
					<property name="port" value="12381" />
				</bean>
			</list>
		</property>
	</bean>
	-->
	<bean id="DataDAO" class="com.xylugah.springcore.dao.DataMongoDBDAO"
		scope="singleton" lazy-init="true">
		</bean>
	
</beans>
