<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="core-context.xml"/>

	<bean id="DataDAO" class="com.xylugah.springcore.dao.DataMemoryDAO"
		scope="singleton" lazy-init="true">
		<property name="clientList">
			<list>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="192.168.1.1" />
					<property name="port" value="8080" />
				</bean>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="192.168.1.2" />
					<property name="port" value="8080" />
				</bean>
				<bean class="com.xylugah.springcore.model.Client">
		    		<property name="ip" value="192.168.1.3" />
					<property name="port" value="8080" />
				</bean>
			</list>
		</property>
	</bean>
</beans>
