<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Servlet server</display-name>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath*:applicationContext.xml</param-value>
  </context-param>
  
  <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <servlet>
  	<servlet-name>EnvironmentsServlet</servlet-name>
  	<display-name>EnvironmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.xylugah.server.servlet.EnvironmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>com.xylugah.server.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveController</servlet-name>
  	<display-name>RemoveController</display-name>
  	<description></description>
  	<servlet-class>com.xylugah.server.servlet.RemoveController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StatisticsController</servlet-name>
  	<display-name>StatisticsController</display-name>
  	<description></description>
  	<servlet-class>com.xylugah.server.servlet.StatisticsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandler</servlet-name>
  	<display-name>ErrorHandler</display-name>
  	<description></description>
  	<servlet-class>com.xylugan.server.servlet.errorhandler.ErrorHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EnvironmentsServlet</servlet-name>
  	<url-pattern>/environments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/environments/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveController</servlet-name>
  	<url-pattern>/RemoveController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StatisticsController</servlet-name>
  	<url-pattern>/StatisticsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorHandler</servlet-name>
  	<url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>

  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>

</web-app>
